<%- include("../partials/header") %>


<!-- banner and youtube video -->
<div class="container" style="margin-top: 80px;">
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <div class="col-lg-6" >
            <span>
                <img src="/imgs/TJR_banner.png" alt="" class="brand-image">
        
            </span>
        </div>
        <div class="col-lg-6 mx-auto ">
            <span class="youtube-video">
                <iframe width="480" height="200" src="https://www.youtube.com/embed/UjqXL3PKT8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </span>
        </div>
    </div>  
</div>


<!-- recent posts -->
<div class="container my-5">
    <h1>Recent Posts</h1>
    <hr>
    
        <div class="row justify-content-center my-5">
            <% var l = Post.length %>
            <% var count = 0 %>
            <% for(var i=0;count < 4 ; i++){ %>
                
                <% count++ %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3  text-center card-post">
                    <div class="card" style="width: auto; height: 24rem;">
                        <img class="card-img-top" src="<%=Post[i].image%>" >
                        <div class="card-body">
                        <h5 class="card-title"><%-Post[i].title%></h5>
                        <p class="card-text"><%-Post[i].description.substring(0, 50)%>...</p>
                        
                        <a href="/posts/<%=Post[i]._id%>" class="btn btn-dark">Read More!</a>
                        </div>
                    </div>
                </div>
                 
            <% } %>
        </div>
    
</div>

<!-- donation link  -->
<div class="donation-link">
    <div class="text-center">
        <a href="/payment" style="text-decoration: none;"><p class="donation-link-text" style="padding-top: 1%;" data-aos="slide-left" data-aos-once="true" data-aos-duration="400">Support Our Cause. Contribute Today! >></p></a>
    </div>
</div>


<div class="motto text-center">
    <h2 class="motto-text">We work for <span id="changing-text" data-wait="3000" data-words='["Truth","Justice","Impartiality","Accountability","Neutrality"]'> </span>
    </h2>
</div>



<%- include("../partials/footer") %>